<tr>
  <th><%= task.title %></th>
  <td>
    <ul>
      <% task.tags.each do |tag| %>
        <li>
          <p><%= tag.name %></p>
        </li>
      <% end %>
    </ul>
  </td>
  <td>
    <button type="button" class="btn btn-primary">
      <a href="/tasks/<%= task.id %>/edit">Edit</a>
    </button>
    <%= link_to "delete", task, method: :delete,
      data: { confirm: "You sure?" }, class: "btn btn-danger" %>
  </td>
</tr>