<div>
  <h1 class="d-inline-block">Tasks</h1>
  <%= link_to 'New Task', new_task_path, class: "btn btn-primary float-right" %>
</div>

<%= react_component("TaskIndex", {
  tasks: @tasks_json,
  current_user: current_user
}) %>