<h1>Tasks</h1>

<table class="table">
  <thead>
    <th scope="col">Task Title</th>
    <th scope="col">Tags</th>
    <th scope="col">Actions</th>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
      <%= render partial: 'task', locals: { task: task } %>
    <% end %>
  </tbody>
</table>