<tr>
  <th><%= tag.name %></th>
  <td>
    <ul>
      <% tag.tasks.each do |task| %>
        <li>
          <a href="/tasks/<%= task.id %>/edit"><%= task.title %></a>
        </li>
      <% end %>
    </ul>
  </td>
</tr>