<h1>Tags</h1>

<table class="table">
  <thead>
    <th scope="col">Tag Name</th>
    <th scope="col">Tasks</th>
  </thead>
  <tbody>
    <% @tags.each do |tag| %>
      <%= render partial: 'tag', locals: { tag: tag } %>
    <% end %>
  </tbody>
</table>