<h1>Tags</h1>

<table class="table">
  <thead>
    <th scope="col">Tag Name</th>
    <th scope="col">Tasks</th>
  </thead>
  <tbody>
    <% @tags_tasks.each do |tag_name, tasks| %>
      <%= render partial: 'tag', locals: { tag_name: tag_name, tasks: tasks } %>
    <% end %>
  </tbody>
</table>